/* qleap.css --- 
 * 
 * Author: Julien Wintz
 * Created: Tue Feb 19 13:54:23 2013 (+0100)
 * Version: 
 * Last-Updated: Wed Feb 20 17:06:26 2013 (+0100)
 *           By: Julien Wintz
 *     Update #: 127
 */

/* Change Log:
 * 
 */

/* ****************************************************************
 * Font setup
 * **************************************************************** */

@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('../font/BLOKKNeue-Regular.eot');
    src: url('../font/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/BLOKKNeue-Regular.woff') format('woff'),
         url('../font/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: light;
    font-style: normal;
}

/* ****************************************************************
 * Regular
 * **************************************************************** */

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* ****************************************************************
 * Bootstrap Additions
 * **************************************************************** */

.blokk {
  color: gray;
  font-family: "BLOKKNeue-Regular", serif;
  text-align: justify;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 60px 0;
  text-align: left;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.subnav-fixed {
  position: fixed;

  top: 0px;
  left: 0px;
  right: 0px;

  background-color: rgba(255, 255, 255, 0.8);

  border-color: #d5d5d5;
  border-width: 0 0 1px;

  padding-left: 15px;
  padding-right: 15px;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);

  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.subnav-fixed > ul {
  padding-top: 15px;
}

/* ****************************************************************
 * Bootstrap overload
 * **************************************************************** */

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(216, 216, 216, 0), rgba(216, 216, 216, 0.75), rgba(216, 216, 216, 0));
    background-image:    -moz-linear-gradient(left, rgba(216, 216, 216, 0), rgba(216, 216, 216, 0.75), rgba(216, 216, 216, 0));
    background-image:     -ms-linear-gradient(left, rgba(216, 216, 216, 0), rgba(216, 216, 216, 0.75), rgba(216, 216, 216, 0));
    background-image:      -o-linear-gradient(left, rgba(216, 216, 216, 0), rgba(216, 216, 216, 0.75), rgba(216, 216, 216, 0));
}

.btn-group {
  align: left;
}

.muted {
  text-shadow: 0px 2px 3px #ccc;
}

.muted > a,
.muted > a:link,
.muted > a:visited,
.muted > a:hover,
.muted > a:active {
  color: #859821;
  text-decoration: none;
}

.nav > li > a {
  color: #494949;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #859821;
  background-color: #ffffff;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #859821;
}
