/* qleap.css --- 
 * 
 * Author: Julien Wintz
 * Created: Tue Feb 19 13:54:23 2013 (+0100)
 * Version: 
 * Last-Updated: Thu Feb 21 11:03:08 2013 (+0100)
 *           By: Julien Wintz
 *     Update #: 169
 */

/* Change Log:
 * 
 */

/* ****************************************************************
 * Font setup
 * **************************************************************** */

@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('../font/BLOKKNeue-Regular.eot');
    src: url('../font/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/BLOKKNeue-Regular.woff') format('woff'),
         url('../font/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: light;
    font-style: normal;
}

/* ****************************************************************
 * Regular
 * **************************************************************** */

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* ****************************************************************
 * Bootstrap Additions
 * **************************************************************** */

.blokk {
  color: gray;
  font-family: "BLOKKNeue-Regular", serif;
  text-align: justify;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 60px 0;
  text-align: left;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.subnav-fixed {
  position: fixed;

  top: 0px;
  left: 0px;
  right: 0px;

  z-index: 1024;

  background-color: rgba(255, 255, 255, 0.8);

  border-color: #d5d5d5;
  border-width: 0 0 1px;

  padding-left: 15px;
  padding-right: 15px;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);

  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.subnav-fixed > ul {
  padding-top: 15px;
}

.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.bs-docs-example::after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

.gravatar img {
  border: 1px solid #888;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* ****************************************************************
 * Bootstrap overload
 * **************************************************************** */

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(216, 216, 216, 0), rgba(216, 216, 216, 0.75), rgba(216, 216, 216, 0));
    background-image:    -moz-linear-gradient(left, rgba(216, 216, 216, 0), rgba(216, 216, 216, 0.75), rgba(216, 216, 216, 0));
    background-image:     -ms-linear-gradient(left, rgba(216, 216, 216, 0), rgba(216, 216, 216, 0.75), rgba(216, 216, 216, 0));
    background-image:      -o-linear-gradient(left, rgba(216, 216, 216, 0), rgba(216, 216, 216, 0.75), rgba(216, 216, 216, 0));
}

code, pre {
  font-family: Menlo;
}

pre {
  font-size: 12px;
}

.btn-group {
  align: left;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  color: #859821;
  background-color: transparent;
  border-color: transparent;
}

.muted {
  text-shadow: 0px 2px 2px #dddddd;
}

.muted > a,
.muted > a:link,
.muted > a:visited,
.muted > a:hover,
.muted > a:active {
  color: #859821;
  text-decoration: none;
}

.nav > li > a {
  color: #494949;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #859821;
  background-color: transparent;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #859821;
}

.row-fluid p {
  text-align: justify;
}